* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:salmon
}

main {
    height: 80vh;
    border: 5px dashed green;
    display: flex;
   flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: flex-end; */
}

.box {
    background: cornflowerblue;
    border:1px solid black;
    flex:1 0 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* min-height: 200px; */
}

.box-4 {
    background-color: chartreuse;
    order:-2
}